// PORT=3001
// DB=postgres://postgres:123@localhost:5432/avtomobile
// MAIL_HOST=smtp.mail.ru
// MAIL_PORT=465
// MAIL_USER=avtoluxa@mail.ru
// MAIL_PASSWORD=nAvvDfHhVMMkDH82hKQx
// JWT_SECRET=secret