/* CarDetail.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 40px; /* Это свойство установит расстояние между flex элементами */
  max-width: 1200px;
  margin: auto;
  }
  
  .imageContainer {
    flex: 13;
    margin-right: 20px; /* Добавьте отступ между изображением и информацией */
    min-width: 600px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Добавьте скругление углов если нужно */
  }
  
  .infoContainer {
    flex: 9;
    padding: 30px;
    background-color: #f5f5f5; /* Цвет фона для контейнера с информацией */
    border-radius: 10px; /* Скругление углов */
    min-width: 400px;
  }
  
  .title {
    font-size: 2.0em;
    margin-bottom: 10px;
    line-height: 1.6em;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    margin-bottom: 5px;
    font-size: 1.5em;
    line-height: 1.7em;
  }
  
  .price {
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.6em;
  }
  
  .button {
    padding: 10px 20px;
    background-color: blue; /* Измените на нужный цвет фона */
    color: white; /* Измените на нужный цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    text-decoration: none; /* Убрать подчёркивание для ссылок */
    display: inline-block; /* Для возможности задания padding */
  }